<a href="https://colab.research.google.com/github/Andresf8006/paas2/blob/main/mydatabase_github_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp37-cp37m-manylinux1_x86_64.whl (25.4 MB)
     |████████████████████████████████| 25.4 MB 1.6 MB/s
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf<=3.20.1,>=3.11.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="lneyka6k6i4aadd5e4ma",
  password="pscale_pw_4jqwx8KupGeEpOqvs94cjcYpmOjjjMgbt1T6J5OPUhO",
  database="mydatabase"
)

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="lneyka6k6i4aadd5e4ma",
  password="pscale_pw_4jqwx8KupGeEpOqvs94cjcYpmOjjjMgbt1T6J5OPUhO",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="lneyka6k6i4aadd5e4ma",
  password="pscale_pw_4jqwx8KupGeEpOqvs94cjcYpmOjjjMgbt1T6J5OPUhO",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="lneyka6k6i4aadd5e4ma",
  password="pscale_pw_4jqwx8KupGeEpOqvs94cjcYpmOjjjMgbt1T6J5OPUhO",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [10]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="ck70tyzea4edfm7hyfv2",
  password="pscale_pw_DSYvIKgg6n7IGbyyUh2bAbzRHn5id3pIzyreZwRLlSU",
  database="mydatabase"
)

mycursor = mydb.cursor()



mycursor.execute("SELECT * FROM customers")


myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="ck70tyzea4edfm7hyfv2",
  password="pscale_pw_DSYvIKgg6n7IGbyyUh2bAbzRHn5id3pIzyreZwRLlSU",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="ck70tyzea4edfm7hyfv2",
  password="pscale_pw_DSYvIKgg6n7IGbyyUh2bAbzRHn5id3pIzyreZwRLlSU",
  database="mydatabase"
)
mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
  host="us-east.connect.psdb.cloud",
  user="ck70tyzea4edfm7hyfv2",
  password="pscale_pw_DSYvIKgg6n7IGbyyUh2bAbzRHn5id3pIzyreZwRLlSU",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DROP TABLE customers"

mycursor.execute(sql)